<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.mobileorder.menu.mapper.MenuCategoryMapper">
    <resultMap id="MenuCategoryResultMap" type="com.portfolio.mobileorder.menu.model.MenuCategory">
        <id property="id" column="id"/>
        <result property="storeId" column="store_id"/>
        <result property="name" column="name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="version" column="version"/>
    </resultMap>

    <select id="findAvailableCategoriesByStoreId" resultMap="MenuCategoryResultMap">
        SELECT DISTINCT
            c.id,
            c.store_id,
            c.name,
            c.image_url,
            c.created_at,
            c.created_by,
            c.updated_at,
            c.updated_by,
            c.deleted_at,
            c.version
        FROM
            menu_categories c
        INNER JOIN
            menus m
        ON m.menu_category_id = c.id
            AND m.store_id = c.store_id
            AND m.deleted_at IS NULL
            AND m.status = 'AVAILABLE'
        WHERE
            c.store_id = #{storeId}
            AND c.deleted_at IS NULL
        ORDER BY
            c.id ASC
    </select>

</mapper>